@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

.items {
  width: 50%;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 25px auto;
  font-family: "Poppins", "Calibri", Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.items h3 {
  margin: 5px auto;
  text-align: center;
}

.task {
  width: 80%;
  text-align: center;
  list-style: none;
  background-color: #f7901d;
  padding: 5px;
  margin: 3px auto 3px auto;
  border-radius: 5px;
  border-color: #f7901d;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.empty {
  text-align: center;
  width: 50%;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 25px auto;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", "Calibri", Arial, Helvetica, sans-serif;
}

.completed_task {
  width: 80%;
  text-align: center;
  list-style: none;
  background-color: gray;
  padding: 5px;
  margin: 3px auto 3px auto;
  border-radius: 5px;
  border-color: grey;
  font-family: "Poppins", "Calibri", Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.mark_complete {
  position: absolute;
  left: 25%;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.mark_complete:hover {
  border-color: green;
  color: green;
  background-color: white;
}

.mark_incomplete {
  position: absolute;
  left: 25%;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.mark_incomplete:hover {
  border-color: red;
  color: red;
  background-color: white;
}

.delete_pending {
  position: absolute;
  right: 26%;
  font-weight: bold;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
}

.delete_pending:hover {
  border-color: red;
  color: red;
}

.delete_completed {
  position: absolute;
  right: 26%;
  font-weight: bold;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
}

.delete_completed:hover {
  border-color: red;
  color: red;
}

